<p>user-homepage works!</p>
<header>
    <button class="btn btn-danger btn-lg" routerLink="/logout">Logout</button>
    <hr>
    <button class="btn btn-primary btn-lg" routerLink="/cart">Go to Cart</button> 
    <select class="d-flex p-1" (change)="sortMovies($event)">
    <option value="none">None</option>
    <option value="asc">Price lowest to highest </option>
    <option value="desc">Price highest to lowest</option>
    </select>
    </header>
    <div class=" selectedOption d-flex mt-2">
        <div class=" bgcolorCat p-2 border border-dark border-3">
            <ul>
                <li (click)="clearFilter()" [ngClass]="{'selectedCategory':!shouldFilter}">
                    All Movies
                </li>
                
                    <li  *ngFor="let item of genrelist; let i = index;" [ngClass]="{'selectedCategory':item.id==genreFilter&&shouldFilter}" (click) ="genreFilters(item.id)">{{item.name}} </li>
               
                
            </ul>
        </div>
        <div class="p-2 flex-fill">
            <label><b><i>Search Movies:</i></b></label>
            <input type="search" name="searchItem" (search)="onSearch($event)">
    
            <hr>
    
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Genre</th>
                        <th>Availability</th>
                        <th>Move to Cart</th>
    
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of displayedMovielist; let i = index;">
    
                        <td>{{item.name}} </td>
                        <td>{{item.description}}</td>
                        <td>{{item.price}} </td>                        
                        <td>{{item.genre && item.genre.name}} </td>
                        <td>{{item.dateTime}}</td>
    
    
                        <td><button class="btn btn-success btn-lg" (click)="addToCart(item.id)">Add To Cart</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>