<header>
    <button type="button" class="btn btn-danger" routerLink="/logout">Logout</button><hr>
</header>


<button type="button" class="btn btn-warning" routerLink="/admin/genre">Genre List</button><hr>
<button type="button" class="btn btn-warning" routerLink="/admin/movie">Movie List</button><hr>
<button type="button" class="btn btn-warning" routerLink="/homepage">Check User Portal</button><hr>
<button type="button" class="btn btn-warning" routerLink="/admin/resetPwd">Reset Password</button>



